.TaskBoard {
	width: 100%;
	max-width: 46rem;
	margin: 5.625rem auto 0;
	padding: 0 1rem;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1.5rem;
}

.header div {
	display: flex;
	align-items: center;
	gap: 0.8rem;
}

.header p {
	color: var(--blue);
	font-size: 0.875rem;
	font-weight: 700;
}

/* Aqui a gente pega a segunda div, que tem como parent o ".header" e aplica o estilo no "p" dela -> por isso funciona, ao invés de pegar o segundo "p" como eu fiz antes */
.header div:nth-child(2) p {
	color: var(--purple);
}

.header span {
	background: var(--gray-400);
	color: var(--gray-200);
	padding: 3px 9px;
	border-radius: 999px;
	font-size: 0.75rem;
	font-weight: 700;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	border-top: 1px solid var(--gray-400);
	border-radius: 8px;
	margin-top: 1.5rem;
}

.cleanBoard {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 4rem;
}

.cleanBoard img {
	margin-bottom: 1rem;
}

.cleanBoard p {
	color: var(--gray-300);
	font-weight: 700;
	font-size: 1rem;
}

.cleanBoard p:nth-child(3) {
	font-weight: 400;
}
